<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <title>Cadastro de Imóvel</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tainá Lima |</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="cadastro_imovel.html">Imovel <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastro_pessoa.html">Pessoa</a>
                </li>
            </ul>
        </div>
    </nav>
    <form id="formImovel">
        <div style="display:flex; gap:15px; align-items:end; justify-content: center; align-items: center;">
            <div class="form-group">
                <label for="imo_titulo">Titulo</label>
                <input type="text" class="form-control" id="imo_titulo" placeholder="Digite o titulo">
                <div class="invalid-feedback">
                    Por favor, digite um título válido.
                </div>
            </div>
            <div class="form-group">
                <label for="imo_tipo">Tipo: </label>
                <input type="text" class="form-control" id="imo_tipo" placeholder="Digite o tipo do imóvel">
            </div>
            <div class="form-group">
                <label for="imo_valor">Valor:</label>
                <input type="text" class="form-control" id="imo_valor" placeholder="Digite o valor">
            </div>
            <button type="button" id="btnCadastrar" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>

    <hr>

    <h4 style="margin: 10px; padding: 10px;">Listagem de Imóveis</h4>

    <div style="margin: 10px; padding: 10px;">
        <table class="table" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="tabelaImoveis"></tbody>
        </table>
    </div>

    <div class="modal" tabindex="-1" id="modalReservarImoveis">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de Imóveis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="scripts/imovel.js"></script>

</html>